<div class="row">
  <div class="col-2">
    <div ><label>Red</label></div>
    <div style="margin-top: 6px"><label>Green</label></div>
    <div style="margin-top: 6px"><label>Blue</label></div>
  </div>
  <div class="col-10">
    <div>
      <input class="r" type="range" min="1" max="255" [(ngModel)]="r">
      <input style="border-radius: 10px" type="number" [(ngModel)]="r">
    </div>
    <div>
      <input class="g" type="range" min="1" max="255" [(ngModel)]="g">
      <input style="border-radius: 10px" type="number" [(ngModel)]="g">
    </div>
    <div>
      <input class="b" type="range" min="1" max="255" [(ngModel)]="b">
      <input style="border-radius: 10px" type="number" [(ngModel)]="b">
    </div>
  </div>
</div>
<div [style.background]="'rgb('+r+','+g+','+b+')'" style="height:700px"></div>
